@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  border-radius: 4px;
  width: 376px;
  height: 52px;
}

.search-button:hover, .search-button:focus {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:hover, .newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.newsletter-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 64px;
}

.navigation {
  display: flex;
  width: 710px;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  justify-content: flex-end;
  min-width: 132px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-user .navigation-user-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-link-search {
  display: block;
  padding: 22px 12px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.navigation-link-favourites {
  display: block;
  padding: 22px 12px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.header-button {
  align-self: center;
  width: 160px;
  height: 36px;
  padding: 8px 34px;
  background-color: #756157;
}

.header-button:hover, .header-button:focus {
  background-color: #615048;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #84defa;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages-lead-wrapper {
  flex-grow: 1;
  padding: 69px 274px 90px;
}

.advantages-lead {

  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-lead-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-item-wide {
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide-wrapper {
  box-sizing: border-box;
  width: 400px;
  padding: 102px 85px;
  flex-grow: 1;
}

.advantages-item-wide p {
  color: #ffffff;
}

.advantages-title-wide {
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.advantages-title-wide::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 56px;
  bottom: -32px;
  background-color: rgba(255, 255, 255, 0.3) ;

}

.advantages-title {
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  left: 56px;
  bottom: -32px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333333;
}

.advantages-item {
  box-sizing: border-box;
  flex-grow: 1;
  width: 400px;
  padding: 112px 85px;
  background-color: rgba(130, 179, 211, 0.12);
  text-align: center;
}

.darker {
  background-color: rgba(130, 179, 211, 0.2);
}

.advantages-img {
  display: block;
  min-width: 800px;
  flex-grow: 1;
}

.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.service-lead {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.service-lead-text {
  margin: 0;
  padding-bottom: 64px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.service-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  box-sizing: border-box;
  padding-bottom: 81px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.service-item:nth-child(even) {
  background-color: #ffffff;
}

.service-title-house::before {
  content: "";
  display: block;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 81px auto 30px auto;
}

.service-title-food::before {
  content: "";
  display: block;
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 81px auto 30px auto;

}

.service-title-present::before {
  content: "";
  display: block;
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 76px;
  margin: 78px auto 30px auto;
}

.service-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-description {
  margin: 0;
  font-weight: 400;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 96px 0;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscription-special {
  background-color: #547499;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-description-catalog {
  color: #333333;
}

.newsletter-form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}


.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 142px;
  margin-top: 45px;
  margin-bottom: 35px;
}

.footer-social-link {
  display: block;
  position: relative;
  padding: 14px 13px;
  min-width: 24px;
  min-height: 17px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-icon:hover, .footer-social-icon:focus {
  fill: #68a2ca;
}

.footer-social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  width: 331px;
  margin-top: 45px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.phone:hover, .phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  position: relative;
  width: 115px;
}

.footer-logo-htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.footer-logo-htmlacademy-icon:hover, .footer-logo-htmlacademy-icon:focus {
  fill: #756157;
}

.footer-logo-htmlacademy-icon:active {
  fill: rgba(117, 97, 87, 0.3)
}

.filters {
  padding: 35px 70px 70px;
  background-color: #2d4a6b;
  background: url("../images/catalog/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin-bottom: 50px;
}

.inner-header-title {
  width: 494px;
  margin: 0;
  padding: 0;

  padding-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.breadcrumbs-link-text {
  padding-left: 28px;
  background-image: url("../images/catalog/arrow-filters.svg");
  background-repeat: no-repeat;
  background-position: center left 10px;
  background-size: 8px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link {
  margin-right: 28px;
}

.breadcrumbs-arrow-filters {
  margin-left: 10px;

}

.catalog-filters {
  display: grid;
  grid-template-columns: 150px 150px 358px 191px;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group-cost {
  display: grid;
  grid-template-columns: 143px 143px;
  gap: 2px;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  border: none;
}

.filter-range-control input{
  display: block;
  width: 100%;
  box-sizing: border-box;
}



.sorting-container {
  display: flex;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.view-buttons {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.view-button-item {
  margin-right: 8px;
}

.view-button-item:last-child {
  margin-right: 0;
}

.view-buttons a {
  display: block;
  padding: 11px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.catalog-filters-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  line-height: 23px;
}

.catalog-filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;

}

.button-submit {
  padding: 8px 50px;
  background-color: #82b3d3;
}

.button-submit:hover, .button-submit:focus {
  background-color: #68a2ca;
}

.button-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-reset {
  padding: 8px 57px;
  background-color: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  box-shadow: 0 0 0 3px #82b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgb(255, 255, 255, 0.1);
}

.catalog-products-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  margin-left: auto;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.product-cards-container {
  display: grid;
  margin: 0 auto;
  width: 1060px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 80px;
  position: relative;
}

.product-cards-container::after {
  content: "";
  position: absolute;
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;

  bottom: -40px;

}

.product-card {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  1fr;
  gap: 16px;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.product-card-img {
  display: block;
  margin-bottom: 16px;
}

.product-card-title {
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-type {
  margin: 0;
}

.product-card-price {
  justify-self: end;
  margin: 0;
}

.product-card-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 26px;
}

.product-card-button:hover, .product-card-button:focus {
  background-color: #615048;
}

.product-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-card-button-favorite {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.product-card-button-favorite:hover, .product-card-button-favorite:focus {
  background-color: #68a2ca;
}

.product-card-button-favorite:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-favorite:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-card-button-favorite-active {
  padding: 8px 18px;
  background-color: #7db54f;
}

.product-card-button-favorite-active:hover, .product-card-button-favorite-active:focus {
  background-color: #6c9e42;
}

.product-card-button-favorite-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-button-favorite-active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.product-card-rating  {
  grid-column: 2 / 3;
  margin: 0;
  padding: 9px 22px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 12px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.points {
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.current {
  color: #000000;
  background-color: #f2f2f2;
}
